<br>
<br>
<br>
<br>
<div class="container">
  <p>Impact Mapping and Story Mapping are both techniques that are used to plan and understand the impact
    of a project or product.
  </p>
  <img src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/2018-06/Classic%20Impact%20Map.jpg" class="rebel">
  <hr>
  <p>Impact Mapping is a technique used to visualize the potential impact of a project or initiative. It helps teams to
    identify the potential impact of their work, and to identify the key steps that are needed to achieve that impact.
    An Impact Map is a visual representation of the stakeholders, goals, and actions that are needed to achieve the
    desired impact. Impact Mapping is used to align the team's efforts with the overall business strategy and to ensure
    that the work being done is having the intended impact.</p>
  <p>Story Mapping is a technique used to understand and plan the user journey of a product or service. It helps teams
    to understand the user's needs and goals, and to identify the key features and functionality that are needed to meet
    those needs. A Story Map is a visual representation of the user's journey, broken down into key steps or stages,
    with user stories or requirements associated with each step. Story Mapping is used to ensure that the product or
    service being developed is meeting the needs of the user.</p>
  <img src="https://images.prismic.io/whiteboards/e78167d9-04f3-4420-9066-ddcafbe1c5f5_usm.jpeg?auto=compress,format" class="rebel">
  <hr>
  <p>Both Impact Mapping and Story Mapping are visual, collaborative and user-centered techniques, which help the team
    to align their efforts and make sure that the end product aligns with the business goals and user's needs.</p>
</div>
<br>
<br>
<br>
<br>
