<div class="container page-section" id="social">
  <br>
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Activism is my rent for living on the planet!</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Alice Walker</cite>
    </figcaption>
  </figure>
  <br>
  <h3>Activism, Citizenry and Ethics in Software</h3>
  <br>
  <p>
    Reflecting on Martin Luther King Jr.'s stance for justice and ethics, my journey in software development echoes a
    similar need for principled stands. My career, transitioning from technical roles to software development, hit a
    moral crossroad at a pharmaceutical company. There, I developed a health survey that--unbeknownst to me, was
    misleading, targeting specific demographics. This ethical lapse was clear when a tragedy linked to the health survey and drug I worked
    on came to light. Resigning in the wake of this realization, I understood the gravity of ethical integrity in our
    work, much like Dr. King understood in his fight for justice. This incident was a stark reminder of our duty as
    developers to uphold ethics, especially in an era where technology like AI and ChatGPT holds immense influence.
  </p>

  <img
    src="https://cdn.theatlantic.com/thumbor/kMZbQT0JJKFzr4mN_HPyO13C8-w=/0x0:2000x1125/1920x1080/media/img/2018/02/09/Lewis_lead/original.jpg"
    class="rebel">
  <hr>
  <br>
  <br>
  <p>As software engineers, we must be vigilant and act when our morals or ethics are in conflict
    with the work we are asked to produce and the products we provide. We must strive to make and leave our communities
    better than we inherited them,
    and that starts with being aware of the immediate and long-term impact of the software we build.
  </p>
  <br>
  <br>
</div>
