img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 500px) {
  .responsive{
    padding: 0px 20px;
    width: 100%;
  }

}
.gradient-box {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 15px;
  padding: 20px;
  /* Add more styling as needed */
}
.page-section {
  margin-top: 20px;
  padding: 20px;
}
