.imgbox img {

  z-index: 3;
  height: 600px;
  top: 30px;

  transform: rotateY(180deg);
  margin: 50px 0px 50px 0px;

}

@keyframes animateUser {
  50%{
    right: 30px;
    top: -90px;
  }
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
}

.profile-pic {
  animation: fadeIn 1s forwards;
  padding: 15px;
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 50%; /* Creates the oval shape */
  object-fit: cover; /* Ensures the image covers the area */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
  transform: scale(2);
}
