<br>
<br>
<br>
<br>
<canvas id="canvas" style="padding: 0px">
</canvas>
<div class="container pt-4">

  <div class="row">
    <div class="col-lg">
      <h3 class="mb-4">Modern Engineering Vision</h3>
      <p (click)="goToBlogs()">My overarching vision is to provide valuable community and business partnership to those that I have the opportunity
        to serve. I very much enjoy doing community, public or semi-public events that grow and enable folks of all shapes, sizes and backgrounds.</p>
      <p>Enabling organizations automation and modern engineering is an investment in the future of
        that organization and the culture that permeates throughout and to its business and engineering teams.</p>

    </div>
    <div class="col-lg">
      <h3 class="mb-4">Upcoming Videos</h3>
      <div class="list-group">
        <a routerLink="coaching" class="list-group-item list-group-item-action"><strong
            class="text-primary">Coaching</strong>: Outcomes
          vs Outputs</a>
        <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Serverless vs Microservices</strong>:
          Hybrid vs Cloud Native</a>
        <a routerLink="impact" href="#" class="list-group-item list-group-item-action"><strong class="text-primary">Products</strong>: Measuring the Impact of Change</a>
        <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Change Management</strong>:
          Tracking
          Strategy to execution in Jira/Jira Align</a>
        <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Engineering</strong>:
          What's good about AWS CDK </a>
      </div>
    </div>
  </div> <!-- /row -->
  <!-- Videos -->

  <h1 class="display-3 text-center text-muted my-4">Videos</h1>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="https://miro.medium.com/max/1400/1*3Fxk3b8h1kvKJFe5gVf98A.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Ceremonies that Promote agility</h4>
          <p class="card-text">Watch this video to find out about the top 3 agile ceremonies, and how to get the most
            out of your teams from those.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img
          src="https://media.istockphoto.com/photos/coach-drawing-american-football-game-playbook-picture-id1366672302?b=1&k=20&m=1366672302&s=170667a&w=0&h=icvKGPFCVclcwsj0l3D91o2MStAYTEGRLijEs2JiCwk="
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Building Self Organizing Teams</h4>
          <p class="card-text">In this video, I walk you through essentials to build enabled teams that can
            operationalize
            quickly and easily for demonstrable business value.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="https://traveloregon.com/wp-content/uploads/2016/10/MtHoodVillages-07-2000.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h4 class="card-title">How to Create 3d Animations with Three JS</h4>
          <p class="card-text">In this tutorial, we will create animations for a solar system using a 3D library for
            Typescript!</p>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img
          src="https://wac-cdn-2.atlassian.com/image/upload/f_auto,q_auto/dam/jcr:786fd7a8-9b53-4b73-af03-fb1b76992638/SMT-2480_JiraAlign_Screenshots-01-ProgramManagement.png"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Github Actions and AWS</h4>
          <p class="card-text">Learn how to use continuous integration with Github Actions to deploy Infrastructure as
            code.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img
          src="https://media.istockphoto.com/photos/devops-concept-picture-id1303169188?b=1&k=20&m=1303169188&s=170667a&w=0&h=NtEeF3r9xDpCS3lfknhp8cFsh7TrcUGTu5DDDpBGt00="
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">DevOps Enable Organizational Agility</h4>
          <p class="card-text">Coach Factory consulting enables organizations to realize faster time to value while
            ensuring quality, predictability, reliability, and efficiency.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IJ5qSmIb5vg" allowfullscreen></iframe>
      </div>
    </div>

  </div><!-- /speakers -->
</div> <!-- /Container-->
<br>
<br>
<br>
<br>
