.navbar-brand {
  padding-left: 15px; /* Adjust left padding as needed */
  padding-right: 15px; /* Adjust right padding as needed */
  /* Add other padding or styling as desired */
  padding: 20px;
  border-radius: 15px;
}
.nav-link:hover {
  background-color: var(--random-color); /* Use CSS variable for color */
  transition: background-color 0.3s;
}
