
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-on-scroll {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.blur-effect {
  filter: blur(5px);
}

.resume-container {
  display: flex;
  justify-content: space-between;
}

.resume-content, .venn-diagram-container {
  flex: 1;
}

/* Styles for making Venn Diagram sticky if needed */
.venn-diagram-container {
  position: sticky;
  top: 10vh; /* Adjust as needed */
}

.gradient-box {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 15px;
  padding: 20px;
  /* Add more styling as needed */
}
.page-section {
  padding: 20px;
}
/* Assuming your columns are side by side on larger screens */
.left-column, .right-column {
  width: 50%;
  float: left;
  /* other styling */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .left-column, .right-column {
    width: 100%;
    float: none;
    /* any additional styling for mobile layout */
  }
}
