@import "~bootstrap/dist/css/bootstrap.min.css";

.btns{
  width: 50%;
  position: relative;
}

#resume{
  padding-top: 60px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-on-scroll {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.blur-effect {
  filter: blur(5px);
}

.resume-container {
  display: flex;
  justify-content: space-between;
}

.resume-content, .venn-diagram-container {
  flex: 1;
}

/* Styles for making Venn Diagram sticky if needed */
.venn-diagram-container {
  position: sticky;
  top: 10vh; /* Adjust as needed */
}

.gradient-box {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 15px;
  padding: 20px;
  /* Add more styling as needed */
}
.page-section {
  padding: 20px;
}
.profile-container {
  margin-bottom: 30px; /* Adjust as needed based on scaled image size */
}

.profile-pic {
  /* Your existing styles */
  transform: scale(4);
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}
