<div class="container page-section gradient-box" id="resume">
  <h2 style="text-align: center;" class="animate-on-scroll">Resume</h2>
  <div style="text-align: center;">
    <a href="https://github.com/jabrealmoe">
      <fa-icon [icon]="faGithub" style="font-size: 30px; color: lightgray;"></fa-icon>
    </a>
  </div>
  <p>I am skilled at building great product teams focused on value delivery in the Social Media, Financial, Insurance and Technology industries. Outcome-focused business and technology leader, experienced in working with management teams to help understand and adopt modern lean and agile processes.</p>
  <div class="resume-container">
    <div class="left-column">
      <h4 class="animate-on-scroll" title="The entries in this resume are alphabetized!">Consulting Experiences</h4>
      <h5 class="animate-on-scroll">Finance</h5>
      <h6>Bank of America</h6>
      <p>Developed world class software products for real estate and investment banking.</p>
      <p>Built software application for mortgage lending line of business to include end-to-end testing and deployment.</p>
      <p>Designed, developed and deployed tools, standards and conventions for how engineering teams work</p>

      <h6>Huntington National Bank</h6>
      <p>Design, develop data visualization tools (Power BI) to support value management office (VMO).</p>
      <p>Develop custom data model to visualize agile teams work process, and predict outputs and outcomes of delivery using machine learning techniques</p>
      <p>Integration of Agile tools and techniques for management (including Agile)</p>

      <h6>Wells Fargo</h6>
      <p>Build custom scriptrunner scripts, integrate JIRA REST API, and build other Atlassian plugins for over 90 thousand users.</p>
      <p>Developed world class software products for real estate and investment banking.</p>
      <p>Built software application for mortgage lending line of business to include end-to-end testing and deployment.</p>
      <h5 class="animate-on-scroll">Social Media</h5>
      <h6>Twitter</h6>
      <p>Developed and optimized machine learning models, improve model accuracy by 18% for anomaly detection and data privacy</p>
      <p>Built data pipelines and visualization using AWS Cloud resources with MLOps integration for data lake</p>
      <p>Led collaboration with cross-functional product teams to implement scalable machine learning solutions </p>
      <p>Support Deployment of Agile Tools for cloud, and data visualization of team approaches to engineering maturity</p>
      <h6>Pinterest</h6>
      <p>Conducted A/B testing and model validation, ensuring robustness and reliability of machine learning systems.</p>
      <p>Designed and implemented data processing pipeline ingestion systems for large-scale (petabyte) data analysis.</p>
      <p>Train EPD product leadership in aligning OKRs to Jira issues, and in building Agile (Kanban & Scrum) workflows</p>
      <h5 class="animate-on-scroll">Insurance </h5>
      <h6>Cigna</h6>
      <p>Developed and optimized machine learning models, improve model accuracy by 18% for anomaly detection and data privacy</p>
      <h6>Hudson Insurance Group</h6>
      <p>Consult as an Atlassian expert for Jira and Confluence</p>
      <p>Upgrade Atlassian Jira Core, configure Jira Service Desk, design custom workflows and workflow schemes</p>
      <h5 class="animate-on-scroll">Technology </h5>
      <h6>Atlassian</h6>
      <p>Develop custom Java Spring components for Jira Core Software.</p>
      <p>Customize algorithm for predicting team delivery using Advanced Roadmaps for Jira.</p>
      <h6>Dell</h6>
      <p>Train, Mentor, Coach engineering team towards modern engineering practices surrounding DevOps and MLOps for cloud.</p>
      <p>Build strategy and migrate teams to Atlassian tools suite (Atlassian Jira, Confluence, Bitbucket, Bamboo).</p>
    </div>
    <div class="right-column">
      <app-venndiagram></app-venndiagram>
      <h5>Education</h5>
      <p>Double Major Georgia State University, Class of 2010</p>
      <h4>Certifications</h4>
      <p>AWS Certified Cloud Practitioner - ID 8889Y5P26J1E179C -<img src="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" style="width:50px;height:50px;"></p>
      <p>AWS Solution Architect Associate - ID 5PNFTSXC7FVQ1PCS -<img src="https://images.credly.com/size/680x680/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png" style="width:50px;height:50px;"></p>
      <p><a href=" https://aws.amazon.com/verification"> https://aws.amazon.com/verification</a> </p>
      <p>ICP-ACC Certified Agile Coach</p>
      <p>Certified Scrum Master (CSM)</p>
    </div>
  </div>
  </div>
