<div class="container page-section" id="resume">

  <br>
  <br>
  <hr>
  <div class="row">
    <div class="container" id="summary">
      <p class="lead">
        I am skilled at building great product teams focused on value delivery in the Social Media, Financial, Insurance and Technology
        industries. Outcome-focused business and technology coach, experienced in working with management teams to help
        understand and adopt modern lean and agile processes. Specializing in enterprise transformations.
      </p>
      <br>

    </div>
    <br>
    <div class="col-md p-3">
      <h5>Machine Learning, Data Science training and mentoring in:</h5>
      <p>Modern Engineering<br>
        Docker, Kubernetes & Serverless<br>
        Linear Regression<br>
        Non-Linear Regression<br>
        Agile Software Development <br>
        Git & Branching Strategies<br>
        Feature Engineering<br>
    </div>
    <div class="col-md p-3">
      <h5>Mentoring</h5>
      <p>Psychological Safety, from Leadership to Team<br>
        Building Leaders with Integrity<br>
        Funding Products, not Projects<br>
        Organizational Design Implications of LeSS<br>
        Self Designing Teams workshop<br>
        Hire Slow, Fire Fast<br>
        Systems Thinking</p>
    </div>


  </div>
  <div class="row">
    <div class="col-md p-3">
      <h5>Hands on programming in:</h5>
      <p>Java<br>
        Python<br>
        Scala<br>
        Angular<br>
        Shell Scripting<br>
        C++<br>
        Typescript<br>
        Javascript<br>
        Groovy<br>
        Golang<br>
      </p>

    </div>
    <div class="col-md p-3">
      <h5>Hands on cloud training in:</h5>
      <p>Amazon Web Services (AWS)<br>
        Cloudformation Templates<br>
        Lambda & Serverless Architecture<br>
        Microservices<br>
        CDK<br>
        Google Cloud Platform<br>
        Microsoft Azure<br>
        Gitlab<br>
        Github (Actions)<br>
      </p>
    </div>
    <div class="col-md p-3">
      <h5>Ticket tracking & administration in:</h5>
      <p>Jira & most Plugins<br>
        ServiceNow - ITSM & ITIL<br>
        TFS<br>
        Jira Align<br>
        Agileplace<br>
        Confluence<br>
        Rally<br>
        Monday.com<br>
        Version One</p>
    </div>
  </div>
  <div class="row">
    <br>

    <br>
    <br>
    <hr>
    <div class="container">
      <h3>Consulting Experiences</h3>
      <br>
      <h5>Banking and Finance</h5>
      <br>

      <h6>Bank of America</h6>
      <p class="lead">Developed world class software products for real estate and investment banking.<br>
        Designed, installed, and integrated application software into automated build pipelines for CI/CD<br>
        Built deployment strategies for microservice architectures, including end-to-end unit testing, integration
        testing, and production deployment. <br>
        Managed engineering teams in building, delivering, and deploying software products for the finance vertical.
        <br>
      </p>
      <br>
      <h6>Huntington Nationoal Bank</h6>
      <p class="lead">Coach leadership, software engineering teams toward modern engineering practices, business process<br>
        techniques, and measuring outputs and outcomes with advanced visualization of work tracking and organizational
        alignment and valuable outcomes.
        Mentor leadership and product management team in continuous improvement approaches, tailored towards cross-functional
        teams that can deliver.
      </p>
      <br>
      <h6>Wells Fargo</h6>
      <p class="lead">Built a product-oriented organization focused on customer-centricity.<br>
        Developed workshops, training sessions, program increments (PI), and other planning events. <br>
        Facilitated quarterly planning, cabinet meetings, and other planning events. Built Agile teams around regulatory
        products and controls that could support domestic and international banking products. <br>
        Build Agile teams around regulatory products and controls, that can support domestic and international banking products
        <br>
        Coached c-suite leadership towards product-aligned teams, product areas, funding models, and lean and agile backlog refinement strategies.<br>
        Designed learning journeys at scale for leadership, middle management (Product Area), and teams.<br>
        Coached teams on good engineering practices in the industry related to testing, source control management, and DevOps architectures.<br>
      </p>
      <br>
      <hr>
      <h5>Insurance</h5>
      <h6>Cigna Health</h6>
      <p class="lead">Provided introductory agile coaching to teams, programs, and portfolio teams.<br>
        Facilitated training and coaching engagements with teams around good practices for building CI/CD pipelines for Gitlab.<br>
        Coached teams on good engineering strategies to adapt cloud technologies (Kubernetes, Openshift, Quay, Docker, Github).<br>
        Provided feedback and designed organizational products using canvasing techniques and other tools for facilitation (Jira Align). <br>
        Conducted architecture review and developed software with engineers using Spring Boot, Angular, Golang, Python, and more.<br>
        Coached teams on TDD activities, from integration of Gherkin<br>
      </p>
      <br>
      <h6>Hudson Insurance Group</h6>
      <p class="lead">Provided product, engineering and agile coaching support to c-suite leadership team<br>
        Built engineering teams and strategies to adapt cloud technologies for Enabler products<br>
        Facilitated quarterly planning and cabinet meetings across programs and products<br>
        Coached portfolio and program management office towards adoption of Shift Left test strategy<br>
        Managed three engineering programs of PODS (groups of development and business teams) backlogs objectives and key results<br>
        Reduced cycle-time by 50% through installation and adoption of automated solutions (CI/CD)<br>
        Migrated Jira to cloud using Atlassian Standard Infrastructure<br>
      </p>
      <br>
      <hr>
      <h5>Engineering and Business Process</h5>
      <h6>Xerox</h6>
      <p class="lead">Provide change management strategy and consulting using a hybrid of Kotter and Agile<br>
        Introduce to Objective and Key Results (OKR) framework and implement across fare and toll line of business<br>
        Evangelize continuous integration and lead adoption of Hudson for DevOps engineering teams<br>
        Facilitation and training to build cross-functional teams of business and engineering professionals<br>
        Increase productivity and decrease lead time from ideation to delivery of products in Fare Collection and Fare Revenue software for clients<br><br>
      </p>
      <br>
      <hr>
      <h5>Social Media</h5>
      <h6>Pinterest</h6>
      <p class="lead">
        Conducted workshops, coaching, training and mentoring leadership in objectives and key results (OKRs)<br>
        Designed, install, support process for aligning strategy to execution of work and tracking outcomes<br>
        Increase enterprise wide adoption of Atlassian Jira software as the system of record (SOR) across the
        organization<br>
        Coached team members in modern engineering practices for machine learning and continuous integration and
        delivery<br>
        Drive adoption of enterprise strategy and work execution to software delivery teams
        <br>
        Coached engineering team members on integrations for Git and Github with tracking tools
        <br>
      </p>
      <br>
      <h6>Twitter</h6>
      <p class="lead">
        Provided Team, Program and Product transformation coaching in scaled agile for Kanban and Scrum teams<br>
        Lead strategy for MLOps rollout for machine learning teams to benefit from automated pipelines<br>
        Designed quarterly coaching plan for team(s) preparing to enter engineering dojo<br>
        Coached teams in data ingestion techniques for later use in training ML models<br>
        Onboarded teams to DevOps/MLOps pipelines using Continuous integration and deployment<br>
        Coached, training, mentor data engineers in good practices for engineering, continuous integration and delivery<br>
        Developed and implemented annual maturity assessment across teams and coaching plan(s) to reach engineering north
        star(s)<br>
      </p>
      <br>
      <hr>
      <h5>Technology</h5>
      <h6>Atlassian</h6>
      <p class="lead">Built engineering teams to support Atlassian products and platforms (Jira and Confluence)<br>
        Plan, prioritize, manage and support engineering teams between Europe(Amsterdam) and Brazil with rollout of new
        products<br>
        Develop knowledge base materials and author articles in support of rollout strategy for Jira 7 and Confluence 6X
      </p>
      <br>
      <h6>Dell</h6>
      <p class="lead">Build Engineering teams to support adaptation to cloud strategy and adapt Pivotal model and
        tools<br>
        Conduct maturity analysis on teams based on usage of engineering practices and tools to align with
        organizational strategy<br>
        Conduct bi-weekly refinement activities, across 6 engineering teams and 13 products<br>
        Build product roadmap aligned to CAPEX, OPEX rules and expenditures<br>
        Plan, prioritize, staff for engineering teams between US, India and Kuala Lumpur<br>
        Active participation in engineering strategy for teams at scale across multiple line of business<br>
      </p>
      <br>
      <h6>Oracle</h6>
      <p class="lead">Develop software patches for Solaris release 5.8<br>
        Provide engineering support to customers utilizing Solaris, Redhat, HP-Unix as well as a variety of operating
        system specific integrated products<br>
        Develop software using C++, JAVA, HTML, CSS, Javascript, Python, Perl in support of Hudson continuous
        integration pipelines<br>
        Contribute best practices engineering documents to knowledge base portal
      </p>
      <br>
      <h5>Telecom</h5>
      <h6>Cox Communications</h6>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Cox Middleware Services<br>
        Coach leaders and developers on agile methods and ceremonies across multiple teams and lines of business<br>
        Plan, install, configure Jira and Confluence to virtual machine based environment on Redhat Linux<br>
        Use JAVA 1.11 to design custom reports for Jira, so leadership understand adoption by business segment
      </p>
      <br>
    </div>
    <div class="container">
      <h4>Education</h4>
      <p>Double Baccalaureatte Georgia State University, Class of 2010</p>
      <h4>Certifications</h4>
      <p>AWS Certified Cloud Practitioner - ID 8889Y5P26J1E179C -<img src="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" style="width:50px;height:50px;"></p>
      <p>AWS Solution Architect Associate - ID 5PNFTSXC7FVQ1PCS -<img src="https://images.credly.com/size/680x680/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png" style="width:50px;height:50px;"></p>
      <p><a href=" https://aws.amazon.com/verification"> https://aws.amazon.com/verification</a> </p>
      <p>ICP-ACC Certified Agile Coach</p>
      <p>Certified Scrum Master (CSM)</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
