/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4b0082, #8a2be2);
  color: white;
}

html {
  scroll-behavior: smooth;
}
nav a {
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  color: #f5a623;
}

.AboutContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#trmt {
  color: green;
  text-decoration: none; /* Removes underline */
}

#trmt:hover {
  color: orange;
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes the text bold */
}
