/* You can add global styles to this file, and also import other style files */
/* In styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
section {
  display: grid;
  place-content: center;
  align-content: center;
  min-height: 100vh;
}
h2 {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .responsive{
    padding: 0px 20px;
    width: 100%;
  }

}
.gradient-box {
  color: white;
  /* Add more styling as needed */
}
