<br>
<br>
<br>
<br>

<div class="container">
  <p>
    John Kotter and Jeff Hiatt are two influential figures in the field of change management, and they have different
    approaches to managing change.
  </p>
  <p>
    John Kotter, a Harvard Business School professor and author, developed a change management framework known as the
    8-Step Process for Leading Change. It involves the following steps:
  </p>
  <ul>
    <li>Establishing a sense of urgency</li>
    <li>Forming a powerful coalition</li>
    <li>Creating a vision for change</li>
    <li>Communicating the vision</li>
    <li>Empowering others to act on the vision</li>
    <li>Creating short-term wins</li>
    <li>Consolidating gains and producing more change</li>
    <li>Anchoring new approaches in the organization's culture.</li>
  </ul>
  <img
    src="https://online.visual-paradigm.com/repository/images/82f2fea2-4197-4fc0-aa19-ecae9466a569/kotters-8-step-change-model-design/john-kotter-model-of-change.png">
  <hr>
  <p>
    Jeff Hiatt, the founder of Prosci, a change management research and training company, developed a change management
    methodology known as ADKAR, which stands for Awareness, Desire, Knowledge, Ability, and Reinforcement. It focuses on
    the individual level of change and involves the following steps:
  </p>
  <ul>
    <li>Awareness of the need for change</li>
    <li>Desire to participate and support the change</li>
    <li>Knowledge of how to change</li>
    <li>Ability to implement the change on a daily basis</li>
    <li>Reinforcement to make the change stick</li>


  </ul>
  <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2019Q3/adkar-model/adkar-change-model-overview.png">
  <hr>
  <p>In either case, if Jeff Hiatt and John Kotter had a baby you can bet that child would combine the best aspects of
    these two methods, a change management approach that would consider both the organizational and individual levels of
    change could be developed. This approach would involve creating a sense of urgency, forming a powerful coalition,
    and developing a clear vision, as Kotter suggests. At the same time, it would also consider the needs and
    perspectives of individuals by promoting awareness, desire, knowledge, and ability to change, as Hiatt suggests.
    Reinforcing the changes through regular communication, recognition, and reinforcement would help to ensure their
    sustainability.</p>

  <p>Training Course in Kotters 8 Step Model - 3 days (8 to 10)</p>

</div>
<br>
<br>
<br>
<br>
