<br>
<br>
<br>
<br>
<div class="container">
  <p>Atlassian is the most profitable technology company in the history of Australia. Among other things, they produce a
    variety of tools for team collaboration and project management. Some of their tools are:</p>
  <img src="https://wac-cdn.atlassian.com/dam/jcr:d71256c1-7a58-4a35-9ee1-dc8322653722/JWM.png" class="rebel">
  <br>
  <br>
  <ol>
    <li>Jira: a project and issue tracking tool for software and business teams</li>
    <li>Jira Service Management (JSM): a helpdesk tool that integrates the best of ITSM principles</li>
    <li>Confluence: a collaborative document and knowledge management tool</li>
    <li>Trello: a visual project management tool that uses a Kanban-style board</li>
    <li>Bamboo: a continuous integration and deployment product that offers automated integration</li>
    <li>Bitbucket: a distributed version control system that supports Mercurial and Git</li>
    <li>Crucible: a collaborative code review application</li>
  </ol>
  <hr>
  <img src="https://d1.awsstatic.com/partner-network/QuickStart/datasheets/atlassian-standard-architecture-on-the-aws-cloud.dbc81c68a25a2e716cb7b7a44b9a0a549b420a3f.png" class="rebel">
  <br>
  <br>
  <p>Atlassian Standard Infrastructure (ASI) is a set of best practices and guidelines for running Atlassians software products in a secure and scalable way. It includes recommendations for:</p>
  <ol>
    <li>Operating system and platform versions</li>
    <li>Database and application server configurations</li>
    <li>Network and security settings</li>
    <li>Performance and scalability configurations</li>
    <li>Backup and disaster recovery configurations</li>
  </ol>
  <p>It's important to note that this is not a product, but a set of guidelines and recommendations for deploying and maintaining Atlassian software.</p>

  <br>
  <img src="https://miro.medium.com/max/1268/1*AOAv7wu8WomilUIp-duTHQ.webp" class="rebel">
  <hr>
  <br>
  <br>
  <p>There are a multitude of customizations that can be implemented to deploy an Atlassian stack. One i've been experimenting with
  is by use of the AWS Cloud Development Kit (CDK). Feel free to have a look at the below implementation in <a href="https://github.com/jabrealmoe/atlas">my github repository</a></p>

  <p>Workshop schedule depends on course material -- Most engagements are weekend and may begin on Friday</p>
  <ul>
    <li>Jira Administration (6.X to 9.2) On Prem Installation in AWS (3 days)</li>
    <li>Scaling Jira Align and Jira integration for SAFe or LeSS(2 weeks)</li>
    <li>Agile Boards, Reports and Backlog Refinement Techniques for a Sprint Manager, Project Administrator or Product Owner (5 days - 2 weekends + Friday)</li>
    <li>Building integrations that can use Jira API to create custom reports for Python (3 days)</li>
    <li>Tableau Pro and other integrations for reporting on outcomes and outputs (2 days)</li>
    <li>Building integrations to Confluence and Jira (1 day)</li>
  </ul>
</div>
<br>
<br>
<br>
<br>
