@import "~bootstrap/dist/css/bootstrap.min.css";

.page-section {
  /* Example styling; adjust as needed for your design */
  min-height: 100vh;  /* Ensure each section is at least as tall as the viewport */
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Just for visual separation of sections */
}
.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-out {
  animation: fadeOut 0.8s ease-in-out forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(20px); }
}
.app-page {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}
